.cardSection {
    width: 75%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden; /* Add this to hide overflow */
}

@media only screen and (max-width: 1200px) {
    .cardSection {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        height: auto; /* Reset height for stacking cards */
    }
}

.Card {
    width: 100%;
    margin-bottom: 20px; /* Adjust the margin as needed */
}

.sistaMinuten {
    text-align: center;
    margin: 50px;
    font-size: 5rem;
}
