html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.cardSection {
    width: 75%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden; /* Add this to hide overflow */
}

@media only screen and (max-width: 1200px) {
    .cardSection {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        height: auto; /* Reset height for stacking cards */
    }
}

.Card {
    width: 100%;
    margin-bottom: 20px; /* Adjust the margin as needed */
}

.sistaMinuten {
    text-align: center;
    margin: 50px;
    font-size: 5rem;
}

table {
    font-size: 2.378rem;
    padding: 60px;
    width: 75%;
    /* display: flex; */
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.departureTitle {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 5%;
}

.departurePic {
    background-image: url('https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
