.confirmText {
    text-align: center;
    font-family: 'space mono';
    font-size: 2vw;
    /* padding: 20px; */
    border-radius: 20px;
    margin: 50px;
}

.blubb{

        display: flex;
        align-items: center;
        margin: 120px auto;
        width: 40vw;
        height: 30vh;
        padding: 20px auto;
        border-radius: 12px;
        color: #007b5e;


}
@media (max-width: 600px) {
    .blubb{
        width: 100%;
        border-radius: 0;
        margin: 0;
        background-color: white;
        color: #007b5e

    }
    .confirmText{
        font-size: 5vw;
    }
}
