.BookingImage {
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('https://images.unsplash.com/photo-1530521954074-e64f6810b32d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
}
