.BookingImage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-blend-mode: darken;
    background-image: url('https://images.unsplash.com/photo-1530521954074-e64f6810b32d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
}

.BookingImage .BookingImage-title {
    font-size: 5vw;
    -webkit-text-stroke: 2px black;
    color: white;
    font-family: 'roboto';
}

@media (max-width: 768px) {
    .BookingImage .BookingImage-title {
        font-size: 9vw;
    }
}
