.navbar {
    background-color: #007b5e;
}

li {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'space mono';
    letter-spacing: 1.5px;
    font-size: 120%;
    color: #ffffff !important;
    color: white !important;
}

a.nav-link {
    color: #ffffff !important;
}

a.nav-link:hover {
    text-decoration: underline;
    color: black !important;
}
