/* nav-tuggle-btn-size: (
    line-width: 35px,
    line-thickness: 2px,
    distance-between-lines: 9px
);

.main-nav {
    position: absolute;
    top: 0;
    width: 100%;
    * {
        box-sizing: border-box;
    }
    .nav-content {
        display: flex;
        justify-content: space-between;
        padding: 20px 30px;
        .left-content,
        .right-content {
            z-index: 10;
        }
    }
    .left-content,
    .right-content {
        display: flex;
    }
    .nav-item {
        margin-right: 20px;
    }
    .right-content {
        .nav-item:last-child {
            margin-right: 0;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .tuggle-btn {
        display: none;
        position: relative;
        width: map-get($nav-tuggle-btn-size, line-width);
        height: map-get($nav-tuggle-btn-size, line-thickness) * 3 +
            map-get($nav-tuggle-btn-size, distance-between-lines) * 2;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        cursor: pointer;
        span {
            display: block;
            position: absolute;
            left: 0;
            height: map-get($nav-tuggle-btn-size, line-thickness);
            width: 100%;
            background: #000;
            border-radius: 5px;
            opacity: 1;
            transition: 0.25s ease-in-out;
            &:nth-child(1) {
                top: 0px;
            }
            &:nth-child(2),
            &:nth-child(3) {
                top: map-get($nav-tuggle-btn-size, line-thickness) +
                    map-get($nav-tuggle-btn-size, distance-between-lines);
            }
            &:nth-child(4) {
                top: map-get($nav-tuggle-btn-size, line-thickness) * 2 +
                    map-get($nav-tuggle-btn-size, distance-between-lines) * 2;
            }
        }
    }
    .tuggle-content {
        @extend .nav-content;
        position: absolute;
        top: 0;
        width: 100%;
        padding-left: 75px;
    }
    &.open {
        .tuggle-btn {
            span:nth-child(1),
            span:nth-child(4) {
                top: 50%;
                left: 50%;
                width: 0;
                opacity: 0;
            }
            span:nth-child(2) {
                transform: rotate(45deg);
            }
            span:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
    &.active {
        position: fixed;
        background-color: #fff;
    }
}
@media (min-width: 860px) {
    .main-nav .tuggle-content {
        height: 100%;
    }
}
@media (max-width: 860px) {
    .main-nav {
        .tuggle-btn {
            display: block;
        }
        .tuggle-content {
            padding-left: 30px;
            flex-direction: column;
            visibility: hidden;
            .left-content,
            .right-content {
                flex-direction: column;
                justify-content: flex-start;
            }
            .right-content {
                border-top: 1px solid #c1c1c1;
                padding-top: 20px;
            }
            .nav-item {
                margin-right: 0;
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &.open {
            .tuggle-content {
                top: 100%;
                visibility: initial;
                background-color: #fff;
            }
        }
    }
}

// USERS styles page and navigation
html,
body {
    width: 100%;
    height: 100%;
}
body {
    * {
        box-sizing: border-box;
    }
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.main-nav {
    ul {
        text-transform: uppercase;
    }
    li {
        display: flex;
        align-items: center;
    }
    a {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.2;
        color: #fff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .tuggle-btn {
        margin-top: auto;
        margin-bottom: auto;
        span {
            background: #fff;
        }
    }
    .tuggle-content {
        padding-left: 100px;
    }
    .logo {
        background: url('https://i.pinimg.com/originals/ad/ed/92/aded92e86113c9fba4213f8334a43df4.png')
            no-repeat center/cover;
        display: block;
        width: 55px;
        height: 40px;
    }
    .registration {
        position: relative;
        padding: 10px 40px 10px 20px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 3px;
        transition: all 0.3s ease-in-out;

        &:after {
            position: absolute;
            right: 15px;
            top: 9px;
            content: '\2192';
            color: #2dbe60;
        }
        &:hover,
        &:focus {
            border-color: #2dbe60;
            text-decoration: none;
        }
    }
    &.open {
        background-color: rgba(0, 0, 0, 0.5);
        .tuggle-content {
            box-shadow: 0px 5px 12px -8px #000;
        }
    }
    &.active {
        background-color: #fff;
        box-shadow: 0px 0px 7px -2px #000;
        a {
            color: #333;
        }
        span {
            background: #333;
        }
        .registration {
            border-color: #2dbe60;
            background-color: #2dbe60;
            color: #fff;
            &:after {
                color: #fff;
            }
            &:hover {
                border-color: #28a956;
                background-color: #28a956;
            }
        }
    }
}
@media (max-width: 860px) {
    .main-nav {
        .tuggle-content {
            padding-right: 90px;
            .nav-item {
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #c1c1c1;
                &:last-child {
                    border-bottom: none;
                }
            }
        }
        &.open {
            .tuggle-content {
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
        &.active {
            .tuggle-content {
                background-color: #fff;
            }
        }
    }
}
header {
    display: flex;
    height: 500px;
    background: url('https://t3.ftcdn.net/jpg/02/67/43/44/360_F_267434405_rVfKoBDQpb6smmbNtDRWvzAYCYpsX47E.jpg')
        no-repeat center/cover;
    color: #fff;

    .header-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;
        height: 100%;
        width: 100%;
        background-color: rgba(45, 36, 45, 0.2);
    }
    h1 {
        margin: 0;
        padding: 0;
        font-size: 40px;
        font-weight: 400;
    }
    p {
        font-size: 22px;
        font-weight: 300;
    }
}
.content-container {
    padding: 0 30px;

    h2 {
        text-transform: uppercase;
        font-weight: 400;
    }

    p {
        font-weight: 300;
        line-height: 1.5;
    }
}
 */

/* Ny navbar */

li {
    margin-left: 20px;
    margin-right: 20px;
    font-family: roboto;
}
